<a href="https://colab.research.google.com/github/Francisco-Dan/daa_2021_/blob/master/26_Octubre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from time import time
def ejemplo1( n ):
    start_time = time()
    c = n + 1
    d = c * n
    e = n * n
    total = c + e - d
    """
    print(f"total={ total }")
    """
    elapsed_time = time() - start_time
    print("Tiempo transcurrido: %0.10f segundos." % elapsed_time)

for entrada in range (100,1100,100):
  ejemplo1( entrada )

Tiempo transcurrido: 0.0000011921 segundos.
Tiempo transcurrido: 0.0000014305 segundos.
Tiempo transcurrido: 0.0000009537 segundos.
Tiempo transcurrido: 0.0000004768 segundos.
Tiempo transcurrido: 0.0000007153 segundos.
Tiempo transcurrido: 0.0000007153 segundos.
Tiempo transcurrido: 0.0000009537 segundos.
Tiempo transcurrido: 0.0000011921 segundos.
Tiempo transcurrido: 0.0000007153 segundos.
Tiempo transcurrido: 0.0000004768 segundos.

##4

In [ ]:
from time import time
def ejemplo2( n ):
    start_time = time()
    contador = 0
    for i in range( n ) :
        for j in range( n ) :
            contador += 1
    elapsed_time = time() - start_time
    print("Tiempo transcurrido: %0.10f segundos." % elapsed_time)        
    return contador

for entrada in range (100,1100,100):
  ejemplo2( entrada )

Tiempo transcurrido: 0.0007851124 segundos.
Tiempo transcurrido: 0.0030572414 segundos.
Tiempo transcurrido: 0.0047597885 segundos.
Tiempo transcurrido: 0.0075454712 segundos.
Tiempo transcurrido: 0.0122351646 segundos.
Tiempo transcurrido: 0.0179157257 segundos.
Tiempo transcurrido: 0.0246436596 segundos.
Tiempo transcurrido: 0.0324821472 segundos.
Tiempo transcurrido: 0.0416738987 segundos.
Tiempo transcurrido: 0.0518519878 segundos.

##1+n^2

In [ ]:
from time import time
def ejemplo3( n ): # n=4
    start_time = time() 
    x = n * 2 # x = 8
    y = 0   # y = 0
    for m in range( 100 ): #3
        y = x - n   # y = 4
    elapsed_time = time() - start_time
    print("Tiempo transcurrido: %0.10f segundos." % elapsed_time)
    return y

for entrada in range (100,1100,100):
  ejemplo3( entrada )

Tiempo transcurrido: 0.0000064373 segundos.
Tiempo transcurrido: 0.0000140667 segundos.
Tiempo transcurrido: 0.0000076294 segundos.
Tiempo transcurrido: 0.0000088215 segundos.
Tiempo transcurrido: 0.0000078678 segundos.
Tiempo transcurrido: 0.0000081062 segundos.
Tiempo transcurrido: 0.0000081062 segundos.
Tiempo transcurrido: 0.0000078678 segundos.
Tiempo transcurrido: 0.0000078678 segundos.
Tiempo transcurrido: 0.0000073910 segundos.

##102

In [ ]:
from time import time
def ejemplo4( n ):
    start_time = time()
    x = 3 * 3.1416 + n
    y = x + 3 * 3 - n
    z = x + y
    elapsed_time = time() - start_time
    print("Tiempo transcurrido: %0.10f segundos." % elapsed_time)
    return z

for entrada in range (100,1100,100):
  ejemplo4( entrada )

Tiempo transcurrido: 0.0000011921 segundos.
Tiempo transcurrido: 0.0000007153 segundos.
Tiempo transcurrido: 0.0000004768 segundos.
Tiempo transcurrido: 0.0000004768 segundos.
Tiempo transcurrido: 0.0000007153 segundos.
Tiempo transcurrido: 0.0000007153 segundos.
Tiempo transcurrido: 0.0000002384 segundos.
Tiempo transcurrido: 0.0000007153 segundos.
Tiempo transcurrido: 0.0000004768 segundos.
Tiempo transcurrido: 0.0000002384 segundos.

##3

In [ ]:
from time import time
def ejemplo5( x ):
    start_time = time()
    n = 10
    for j in range( 0 , x , 1 ):
        n = j + n
    elapsed_time = time() - start_time
    print("Tiempo transcurrido: %0.10f segundos." % elapsed_time)
    return n

for entrada in range (100,1100,100):
  ejemplo5( entrada )

Tiempo transcurrido: 0.0000100136 segundos.
Tiempo transcurrido: 0.0000166893 segundos.
Tiempo transcurrido: 0.0000214577 segundos.
Tiempo transcurrido: 0.0000281334 segundos.
Tiempo transcurrido: 0.0000472069 segundos.
Tiempo transcurrido: 0.0000495911 segundos.
Tiempo transcurrido: 0.0000550747 segundos.
Tiempo transcurrido: 0.0000610352 segundos.
Tiempo transcurrido: 0.0000700951 segundos.
Tiempo transcurrido: 0.0000803471 segundos.

##1+n

In [ ]:
from time import time
def ejemplo6( n ):
    start_time = time()
    data=[[[1 for x in range(n)] for x in range(n)]
          for x in range(n)]
    suma = 0
    for d in range(n):
        for r in range(n):
            for c in range(n):
                suma += data[d][r][c]
    elapsed_time = time() - start_time
    print("Tiempo transcurrido: %0.10f segundos." % elapsed_time)
    return suma
for entrada in range (100,1100,100):
  ejemplo6 ( entrada )

Tiempo transcurrido: 0.1574687958 segundos.
Tiempo transcurrido: 1.1872291565 segundos.
Tiempo transcurrido: 3.6632096767 segundos.
Tiempo transcurrido: 8.9425380230 segundos.
Tiempo transcurrido: 18.2467222214 segundos.
Tiempo transcurrido: 33.0135800838 segundos.
Tiempo transcurrido: 50.2151072025 segundos.
Tiempo transcurrido: 77.9502987862 segundos.
Tiempo transcurrido: 118.2019603252 segundos.
Tiempo transcurrido: 157.7654545307 segundos.

##2+ n^3

In [ ]:
from time import time

def ejemplo6( n ):
    start_time = time()
    data=[[[1 for x in range(n)] for x in range(n)] 
          for x in range(n)]
    suma = 0
    for d in range(n):
        for r in range(n):
            for c in range(n):
                suma += data[d][r][c]
    elapsed_time = time() - start_time
    print("Tiempo transcurrido: %0.10f segundos." % elapsed_time)
    return suma
for entrada in range (100,1100,100):
  ejemplo6 ( entrada )

Tiempo transcurrido: 0.0000014305 segundos.
Tiempo transcurrido: 0.0000007153 segundos.
Tiempo transcurrido: 0.0000007153 segundos.
Tiempo transcurrido: 0.0000002384 segundos.
Tiempo transcurrido: 0.0000004768 segundos.
Tiempo transcurrido: 0.0000002384 segundos.
Tiempo transcurrido: 0.0000004768 segundos.
Tiempo transcurrido: 0.0000002384 segundos.
Tiempo transcurrido: 0.0000004768 segundos.
Tiempo transcurrido: 0.0000002384 segundos.

In [ ]:
def ejemplo7( n ):
    count = 0
    for i in range( n ) :
        for j in range( 25 ) :
            for k in range( n ):
                count += 1
    return count

##1+25n^2

In [ ]:
def ejemplo7_2( n ):
    count = 0
    for i in range( n ) :
        for j in range( 25 ) :
            for k in range( n ):
                count += 1
            for k in range( n ):
                count += 1
    return count

## T(n)= 1 + 25n^2 +25n^2 ó 1+50n^2
## O(n)= n

In [ ]:
def ejemplo8( numeros ): # numeros es una lista (arreglo en c)
    total = 0
    for index in range(len(numeros)):
        total = numeros[index]
    return total
ejemplo8(numeros)

## T(n)= 1+n
## O(n)= n

In [ ]:
def ejemplo9(  n ):
    contador = 0
    basura = 0
    for i in range( n ) :
        contador += 1
    for j in range( n ) :
        contador += 1
    basura = basura + contador
    return contador


print(ejemplo9( 5 ))

##T(n)= 3 + 2n
##O(n)= n

In [ ]:
def ejemplo10( n ):
    count = 0
    for i in range( n ) :
        for j in range( i+1 ) :
            count += 1
    return count

"""

n= 3
000
n00 <-- aqui empieza el for interno
nn0 <--- aqui termina el for interno
nnn

n = 4
0000
n000 <-- aqui empieza el for interno
nn00
nnn0 <--- aqui termina el for interno
nnnn

n =5
00000
n0000 <-- aqui empieza el for interno
nn000
nnn00
nnnn0 <--- aqui termina el for interno
nnnnn
"""

##T(n)= 1+(n^2+n)/2
##O(n)= n

In [ ]:
def ejemplo11( n ):
    count = 0
    i = n
    while i > 1 :
        count += 1
        i = i // 2 
    return count
print(ejemplo11(16))
# T(n) =  2 + (2 Log 2 n)

##T(n) = 2+2log2 n

In [ ]:
def ejemplo12( n ):
    contador = 0
    for x in range(n):
        contador += ejemplo11(x)
    return contador

##1+n(2+2log2(n))

In [ ]:
def ejemplo13( x ):
    bandera = x
    contador = 0
    while( bandera >= 10):
        print(f" x = { bandera } ")
        bandera /= 10
        contador = contador + 1
    print(contador)
ejemplo13( 1000 )

## T(x) = log10 x +1

In [ ]:
def ejemplo14( n ):
    y = n
    z = n
    contador = 0
    while y >= 3: #3
        y /= 3  # 1
        contador += 1  # cont =3
    
    while z >= 3: #27
        z /= 3
        contador += 1
    return contador
print(ejemplo14( 27 ))

## log3(n)

In [ ]:
def ejemplo15( n ): 
    contador = 0
    for i in range( n ) :
        for j in range( n ) :
            contador += 1
            
    while n > 1 :
        contador += 1
        n /= 2
    return contador

print(ejemplo15(10))

##1 + n^2+ log2(n)